<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
<servlet>
    <servlet-name>query</servlet-name>
    <servlet-class>com.example.MyWebhookServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ai</servlet-name>
    <servlet-class>com.example.MyServiceServlet</servlet-class>
    <init-param>
        <param-name>clientAccessToken</param-name>
        <param-value>c52536d801de4975a86024f33e87b511</param-value>
        </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>query</servlet-name>
    <url-pattern>/actions</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ai</servlet-name>
    <url-pattern>/ai</url-pattern>
  </servlet-mapping>
</web-app>