<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ai</servlet-name>
    <servlet-class>com.example.MyServiceServlet</servlet-class>
    <init-param>
      <param-name>apiaiKey</param-name>
      <param-value>ac58148412f548278206014caf233f45</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ai</servlet-name>
    <url-pattern>/ai</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>webhook</servlet-name>
    <servlet-class>com.example.MyWebhookServlet</servlet-class>
    <init-param>
      <param-name>apiaiKey</param-name>
      <param-value>c17ce92704f14b0f85181127e2f0e6b6</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>webhook</servlet-name>
    <url-pattern>/webhook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddManageTopic</display-name>
    <servlet-name>AddManageTopic</servlet-name>
    <servlet-class>com.example.AddManageTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddManageTopic</servlet-name>
    <url-pattern>/AddManageTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SQLTestServlet</display-name>
    <servlet-name>SQLTestServlet</servlet-name>
    <servlet-class>com.example.SQLTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLTestServlet</servlet-name>
    <url-pattern>/SQLTestServlet</url-pattern>
  </servlet-mapping>
</web-app>